@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.fade {
  -webkit-mask-image: linear-gradient(180deg, #000 80%, transparent);
}

.alt-animate {
  animation-name: fadeLeftSideAlt;
  animation-timing-function: ease-in-out;
}

@keyframes fadeLeftSideAlt {
  to {
    transform: translateX(0px);
    opacity: 1;
  }
  from {
    transform: translateX(-15px);
    opacity: 0;
  }
}
